body {
  background-color: #1dc5e2;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: 150px;
}

* {
  cursor: url(' http://cur.cursors-4u.net/food/foo-5/foo429.cur'), auto;
}

h1 {
  color: #ef5db5;
  font-size: 50px;
}

a {
  color: #efdb67;
  text-decoration: none;
  font-size: 40px;
}

a:hover {
    color: #1ae2ed;
    text-decoration: none;
}
